<html>
    <head>
        <title>django girls</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girrls Blog</a></h1>
        </div>
        <div>
            <p>published: 2019/11/28 23:21</p>
            <h2><a href="">今日の晩御飯</a></h2>
            <p>今日の晩御飯は鍋であった。<br>
                野菜をメインにたくさん食べた。<br>
                肉も投入したが魚と餃子のほうがおいしかった。</p>
        </div>
        <div>
                <p>published: 2019/11/28 23:24</p>
                <h2><a href="">タブレットスタンド</a></h2>
                <p>Django girlsのチュートリアルを行うために<br>
                        ノートPCタブレットを使うことにした。<br>
                        しかし、置いて作業をするのが大変だったから<br>
                        自分でタブレットスタンドを作ったよ</p>
            </div>
    </body>
</html>