<html>
    <head>
        <title>django girls</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girrls Blog</a></h1>
        </div>
        {% for i in postsx %}
        <div>
            <h2><a href="">{{i.title}}</a></h2>
            <p>
                {{i.text|linebreaksbr}}<!---|linebreaksbrはtextの中の改行を段落にしている-->
            </p>
            <p>
                published:{{i.published_date}}
            </p>
            <p>
                author:{{i.author}}
            </p>
        </div>
        {% endfor %}
    </body>
</html>