{% extends 'blog/base.html' %}

{% block content %}
    {% for i in postsx %}
        <div class="post">
            <h2><a href="{% url 'post_detail' pk=i.pk %}">{{ i.title }}</a></h2>
            <div class ="contents">
                <p>{{ i.text|linebreaksbr }}</p>
            </div>
            <div class ="auth">
                <p>author:{{ i.author }}</p>
            </div>
            <div class="date">
                <p>publish:{{ i.published_date }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}