body{
    background:#fef4a9;
    padding:0 1%
}



.page-header{
    background:#3b9a9c;
    height:120px;
}

.page-header a,.glyphicon-plus{
    color:white;
    line-height: 120px;
    font-size:150%;
}

.post{
    border-bottom: 5px dotted #4bc2c5;
}

.post a,.post h2{
    color:#3b9a9c;
    font-size: 150%;
}

.top-menu{
    float:right;
}